.player {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 800px;
  height: 600px;
  box-shadow: 0px 0px 12px 3px rgb(0 0 0 / 70%);
}

.player__video {
  flex-grow: 1;
}

.player__controls {
  background-color: #000;
}

.button {
  margin-right: 5px;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  background-color: transparent;
  cursor: pointer;
  font-size: 18px;
  line-height: 40px;
  color: #fff;
}

.button:last-child {
  margin-right: 0;
}